:host {
    width: 100%;
}

section {
    height: 100%;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 24px;
}

.left-side-header {
    display: flex;
    align-items: center;
    gap: 16px;

    span {
        margin: 6px;
        background-color: lightgray;
        border-radius: 6px;
        font-size: 14px;
    }

    .new-hired {
        padding: 8px;
    }

    button {
        display: flex;
        gap: 6px;
        color: grey;
        padding: 6px 12px;
        background-color: white;
        border: 1px solid lightgray;
        border-radius: 6px;
        position: relative;
    }
}

.right-side-header {
    button {
        color: darkkhaki;
        border: 1px solid darkkhaki;
        padding: 6px 12px;
        border-radius: 6px;
    }
}

app-add-employee {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba($color: #000000, $alpha: 0.2);
    border-radius: 16px;
}

.card-container {
    display: flex;
    gap: 16px;
    flex: 1;
    padding: 24px;
    flex-wrap: wrap;
    overflow-y: auto;
}

mat-paginator {
    background-color: unset;
    color: unset;

    button {
        background-color: green;
    }
}

.mat-mdc-paginator-container {
    justify-content: space-between;
}

.filter-list {
    background-color: whitesmoke;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: absolute;
    left: 0;
    top: 38px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.05);

    button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 200px;
        box-sizing: border-box;

        &:last-child {
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
        }
    }

    .border-bottom-btn {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .option-btn {
        border-radius: unset;
        border: none;
    }

    .option-container {
        border: 1px solid lightgray;
        border-top: none;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        width: 200px;
        box-sizing: border-box;

        .option {
            display: flex;
            align-items: center;
            background-color: white;
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
        }

        input {
            margin-left: 16px;
        }
    }
}

.active-sort {
    background-color: aquamarine !important;
}